*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
#container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.nav-link {
    display: flex;
    justify-content: center;
}
.nav-link > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    /* outline: 2px solid black; */
    width: 50%;
}
#panel {
    background-color: rgb(204, 44, 44);
    height: 100%;
    color: white;
}
#panel > section {
    height: 40vh;
}
#panel-links {
    display: grid;
    grid-template-columns: repeat(1fr);
    padding: 1rem 0 0 0.5rem;  
}

#mainboard {
    background-color: white;
    /* width: 100%; */
    height: 100%;
    color: black;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
#logo-background{
    width: 100%;
    background-color: rgb(204, 44, 44);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    padding-top: 2rem;
}
.logo {
    height: 100%;
    position: relative;
    bottom: 1.7rem;
    border-radius: 50%;
}
#panel > a {
    display: block;
    color : inherit;
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#academics {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.academics-tabs {
    /* width: 40%; */
    font-size: 1.5rem;
}
.units-arranged{
    display: grid;
    /* grid-template-columns: repeat(1,1fr 2fr 1fr)minmax(auto, 2fr); */
    grid-template-columns: repeat(auto-fit,minmax(100px, 2fr));
    justify-items: center;
}
.search-bar {
    width: 70%;
    margin: auto;
}
.search-bar input {
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    border-radius: 20px;
    border-color: black;
    margin: 2rem 0;
}
#student-info>h2{
    margin: 1rem;
    text-align: center;
}
#basic-info{
    width: 100%;
    margin: auto;
}
#basic-info{
    margin-top: 2rem;
}
.data-table{
    border: 1px solid black;
}
table {
    width: 80%;
    margin: auto;
}
td {
    padding: 0 1rem  1rem 0;
    border-right: 2px solid black;
    width: 30vw;
}
thead > tr>th {
    text-align: center;
    padding-bottom: 1rem;
}
#student-image{
    width: 50%;
    /* border: 1px solid brown; */
    margin: auto;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
}
.person-logo {
    width: 50%;
    margin: auto;
}