:root {
  --reddish : rgb(204, 44, 44);
  --bluish : rgb(14, 110, 102);
  --logo-color: wheat;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1537202108838-e7072bad1927?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1946&q=80");

}
input[type="text"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 80px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin : 20px;
  width: 40%;
  margin: auto;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height : 300px;
  width : 500px;
  text-align: center;
  border-radius: 20px;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
}

button {
  width: 7rem;
  height: 2rem;
  background-color: var(--bluish);
  color:white;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: .5rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
button span:after {
  content: "  >>";
  opacity: 0;
}
button:hover span:after {
  opacity: 1;
  transition: 0.5s ease-in-out;
}